
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
  <title th:text="#{topbar.genres}">Жанры</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!--meta( http-equiv="cache-control" content="no-cache")-->
  <!--meta( http-equiv="expires" content="0")-->
  <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
  <link href="logo.png" type="image/png" rel="shortcut icon">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/fonts.min.css?v=52263780">
  <link rel="stylesheet" href="/assets/css/basic.min.css?v=52263780">
  <link rel="stylesheet" href="/assets/css/extra.min.css?v=52263780"><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script defer src="/assets/js/scripts.min.js?v=52263780"></script>

  <div th:insert="~{fragments/script_fragment :: scripts}"></div>
</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment}"></header>

  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <h1 class="Middle-title" th:text="#{topbar.genres}">Жанры
        </h1>
        <div class="Section">
          <div class="Tags Tags_genres">
            <div class="Tags Tags_embed">
              <div class="Tags-title">
                <div class="Tag"><a href="/genres/slug">Лёгкое чтение<span class="undefined-amount">(15638)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres/slug">Фантастика<span class="undefined-amount">(44333)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Боевики<span class="undefined-amount">(158)</span></a>
              </div>
              <div class="Tags">
                <div class="Tags-title">
                  <div class="Tag"><a href="/genres/slug">Детективы<span class="undefined-amount">(10)</span></a>
                  </div>
                </div>
                <div class="Tag"><a href="/genres/slug">Триллер<span class="undefined-amount">(134)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug">Крутой детектив<span class="undefined-amount">(934)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug">Иронический детектив<span class="undefined-amount">(143443)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug">Про маньяков<span class="undefined-amount">(3331)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug">Шпионский детектив<span class="undefined-amount">(94)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug">Криминальный детектив<span class="undefined-amount">(4839)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug">Классический детектив<span class="undefined-amount">(4488)</span></a>
                </div>
                <div class="Tag"><a href="/genres/slug">Политический детектив<span class="undefined-amount">(1)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres/slug">Фэнтези<span class="undefined-amount">(14338)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Романы<span class="undefined-amount">(1438)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Ужасы<span class="undefined-amount">(156)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Приключения<span class="undefined-amount">(1538)</span></a>
              </div>
            </div>
            <div class="Tags">
              <div class="Tags-title">
                <div class="Tag"><a href="/genres/slug">Серьёзное чтение<span class="undefined-amount">(18)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres/slug">Биографии<span class="undefined-amount">(18)</span></a>
              </div>
            </div>
            <div class="Tags">
              <div class="Tags-title">
                <div class="Tag"><a href="/genres/slug">Деловая литература<span class="undefined-amount">(158)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres/slug">Деловая литература<span class="undefined-amount">(138)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Управление экономикой<span class="undefined-amount">(158)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Карьера<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Маркетинг, PR, реклама<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Финансы<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Бизнес-справочники<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Личные финансы<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Зарубежная деловая литература<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Личная эффективность<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Тайм-менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Малый бизнес<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Продажи<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Стартапы и создание бизнеса<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Корпоративная культура<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Банковское дело<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Логистика<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Недвижимость<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Интернет-бизнес<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Ораторское искусство / риторика<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Привлечение клиентов и лояльность<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Делопроизводство<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Переговоры<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Государственное и муниципальное управление, политическое управление<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">О бизнесе популярно<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Ценные бумаги / инвестиции<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Бухучет / налогообложение / аудит<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Российская практика<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Истории успеха<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Интернет-маркетинг<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Лидерство<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Проектный менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Управление качеством<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Финансовый менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Управление персоналом<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Бизнес-процессы<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Управление бизнесом<span class="undefined-amount">(15638)</span></a>
              </div>
            </div>
            <div class="Tags">
              <div class="Tags-title">
                <div class="Tag"><a href="/genres/slug">Драматургия<span class="undefined-amount">(15638)</span></a>
                </div>
              </div>
              <div class="Tag"><a href="/genres/slug">Античная драма<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Комедия<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Сценарий<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a href="/genres/slug">Драма, пьеса<span class="undefined-amount">(15638)</span></a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>

  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
  <!--+menu(-->
  <!--    'Это раз',-->
  <!--    'Это два',-->
  <!--    'Это три'-->
  <!--)-->
  <!--br-->
  <!--br-->
  <!--+menu._vt-->
  <!--    +menuItem Это раз-->
  <!--    +menuItem.-item_danger Это два-->
  <!--    +menuItem Это три-->
</body>
</html>