<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
  <title th:text="#{title}">Книжный магазин</title>
  <meta name="description" content="Описание страницы">
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!--meta( http-equiv="cache-control" content="no-cache")-->
  <!--meta( http-equiv="expires" content="0")-->
  <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
  <link href="logo.png" type="image/png" rel="shortcut icon">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/fonts.min.css?v=64223515">
  <link rel="stylesheet" href="/assets/css/basic.min.css?v=64223515">
  <link rel="stylesheet" href="/assets/css/extra.min.css?v=64223515"><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script defer src="/assets/js/scripts.min.js?v=64223515"></script>

  <div th:insert="~{fragments/script_fragment :: scripts}"></div>

</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment}"></header>

  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">

        <div class="Section">

          <div class="Section-header">
            <h2 class="Section-title" th:text="#{middle.recommendations}">Рекомендуемое </h2>
          </div>

          <div class="Slider Slider_carousel">
            <div class="Slider-box Cards" data-load="recommended" data-loadoffset="0" data-loadlimit="6">

              <div class="Slider-item" th:each="book : ${recommendedBooks}">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" th:href="@{/books/slug}"><img th:src="${book.image}" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title">
                        <a th:href="@{/books/slug}" th:text="${book.title}">Техника</a>
                      </strong>
                      <div class="Card-description" th:text="${book.author}">Кондратенко Валерий Петрович
                      </div>
                      <div class="Card-cost">
                        <span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span>
                        <span class="Card-price" th:text="${book.price}">₽190.00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="Slider-navigateWrap">
              <div class="Slider-navigate">
              </div>
            </div>
            <div class="Slider-load">
              <div class="Slider-load-text">Идет загрузка данных
              </div>
            </div>
          </div>
          <div class="Section-header">
            <h2 class="Section-title" th:text="#{topbar.news}">Новинки </h2>
          </div>
          <div class="Slider Slider_carousel">
            <div class="Slider-box Cards" data-load="recent" data-loadoffset="0" data-loadlimit="6">

              <div class="Slider-item" th:each="book : ${recentBooks}">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" th:href="@{/books/slug}"><img th:src="${book.image}" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title">
                        <a th:href="@{/books/slug}" th:text="${book.title}">Техника</a>
                      </strong>
                      <div class="Card-description" th:text="${book.author}">Кондратенко Валерий Петрович
                      </div>
                      <div class="Card-cost">
                        <span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span>
                        <span class="Card-price" th:text="${book.price}">₽190.00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="Slider-navigateWrap">
              <div class="Slider-navigate">
              </div>
            </div>
            <div class="Slider-load">
              <div class="Slider-load-text">Идет загрузка данных
              </div>
            </div>
          </div>

          <div class="Section-header">
            <h2 class="Section-title" th:text="#{topbar.popular}">Популярное
            </h2>
          </div>

          <div class="Slider Slider_carousel">
            <div class="Slider-box Cards" data-load="popular" data-loadoffset="0" data-loadlimit="6">

              <div class="Slider-item" th:each="book : ${popularBooks}">
                <div class="Slider-content">
                  <div class="Card"><a class="Card-picture" th:href="@{/books/slug}"><img th:src="${book.image}" alt="card.jpg"/></a>
                    <div class="Card-content">
                      <strong class="Card-title">
                        <a th:href="@{/books/slug}" th:text="${book.title}">Техника</a>
                      </strong>
                      <div class="Card-description" th:text="${book.author}">Кондратенко Валерий Петрович
                      </div>
                      <div class="Card-cost">
                        <span class="Card-priceOld" th:text="${book.priceOld}">₽300.00</span>
                        <span class="Card-price" th:text="${book.price}">₽190.00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="Slider-navigateWrap">
              <div class="Slider-navigate">
              </div>
            </div>
            <div class="Slider-load">
              <div class="Slider-load-text">Идет загрузка данных
              </div>
            </div>
          </div>
        </div>

        <h2 class="Middle-title" th:text="#{middle.tags}">Книги по тегам </h2>

        <div class="Tags" id="tags">
          <div class="Tag Tag_xs"><a th:href="@{/tags}">современная литература</a>
          </div>
          <div class="Tag Tag_sm"><a th:href="@{/tags}">классическая литература</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">зарубежная литература</a>
          </div>
          <div class="Tag Tag_md"><a th:href="@{/tags}">фэнтези</a>
          </div>
          <div class="Tag Tag_lg"><a th:href="@{/tags}">английская литература</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">русская литература</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">американская литература</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">фантастика</a>
          </div>
          <div class="Tag Tag_md"><a th:href="@{/tags}">детская литература</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">детектив</a>
          </div>
          <div class="Tag Tag_sm"><a th:href="@{/tags}">любовь</a>
          </div>
          <div class="Tag Tag_sm"><a th:href="@{/tags}">мистика</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">юмор</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">приключения</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">сказка</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">французская литература</a>
          </div>
          <div class="Tag Tag_xs"><a th:href="@{/tags}">англия</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">художественная литература</a>
          </div>
          <div class="Tag Tag_xs"><a th:href="@{/tags}">психология</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">философия</a>
          </div>
          <div class="Tag Tag_lg"><a th:href="@{/tags}">экранизировано</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">любимое</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">антиутопия</a>
          </div>
          <div class="Tag Tag_xs"><a th:href="@{/tags}">books you must read before you die</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">роман</a>
          </div>
          <div class="Tag Tag_md"><a th:href="@{/tags}">франция</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">дайте две</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">young adult</a>
          </div>
          <div class="Tag Tag_lg"><a th:href="@{/tags}">война</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">история</a>
          </div>
          <div class="Tag Tag_sm"><a th:href="@{/tags}">флэшмоб 2016</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">детство</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">жизнь</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">драма</a>
          </div>
          <div class="Tag Tag_md"><a th:href="@{/tags}">россия</a>
          </div>
          <div class="Tag Tag_md"><a th:href="@{/tags}">книжное путешествие</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">советская литература</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">триллер</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">америка</a>
          </div>
          <div class="Tag Tag_sm"><a th:href="@{/tags}">немецкая литература</a>
          </div>
          <div class="Tag Tag_xs"><a th:href="@{/tags}">вампиры</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">школьная программа</a>
          </div>
          <div class="Tag Tag_xs"><a th:href="@{/tags}">рассказы</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">магия</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">дети</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">русская классика</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">флэшмоб 2015</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">биография</a>
          </div>
          <div class="Tag"><a th:href="@{/tags}">english</a>
          </div>
        </div>
      </main>
    </div>
  </div>


  <footer th:replace="~{fragments/footer_fragment :: footerFragment}"></footer>

  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>

  <!--+menu(-->
  <!--    'Это раз',-->
  <!--    'Это два',-->
  <!--    'Это три'-->
  <!--)-->
  <!--br-->
  <!--br-->
  <!--+menu._vt-->
  <!--    +menuItem Это раз-->
  <!--    +menuItem.-item_danger Это два-->
  <!--    +menuItem Это три-->
</body>
</html>